<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation"  routerLinkActive ="active"class="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li role="presentation" routerLinkActive ="active"><a routerLink="servers">Servers</a></li>
        <li role="presentation" routerLinkActive ="active"><a routerLink="users">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-home></app-home>
    <!-- </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers> -->
    
    </div>
  </div>
  <nav>
    <ul>
      <li>
       <a [routerLink] = "['Home']" routerLinkActivate="active">Home</a>
      </li>
      <li>
        <a [routerLink] = "['Admin']" routerLinkActivate="active">Admin</a>
       </li>
    </ul>
  </nav>
  <h3>  <router-outlet></router-outlet></h3>
</div>
<p>Hello world</p>
<!-- <app-main></app-main>
<app-admin></app-admin> -->